@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'El Messiri', sans-serif;
	 align-items: center;
}
body {
    //display: flex;
    justify-content: center;
    align-items: center;
    background-color: #05aa79;
	text-align: center;
    height: 100vh;    
}
.logo{
	text-align: center;
	margin-top:100px;
	width: auto;
	font-size:28px;
	text-align: center;
	color: #8fe9e4;
	height:500px;
}

.container {
	width: 800px;
	height: 700px;
	text-align: center;
	align-items: center;
	margin-right:70px;
}
.header {
	text-align: center;
	margin-bottom: 50px;
}

.header h2 {
    font-weight: 400;
    color: #fff;
	font-size: 40px;
}
.main-content {
	width: 100%;
	height: 500px;
	padding: 50px 40px;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 25px 31px 0 rgba(0,0,0,0.5);
	text-align: center;
	margin-right: 10px;
}

.text-area {
	text-align: center;
	font-size: 50px;
	color: #000000;;
	line-height: 1.5;
	height: 150px;
	margin-top: 10px;
	font-style: bold;
    
}
.text-area .icon {
    margin-right: 5px;
}

.main-content .button-area {
	display: grid;
	place-items: center;
	margin-top: 30px;
	padding: 20px 0;
}
.button-area .btn button {
	margin-top: 20px;
    background-color: #000000;
    color: #fff;
    border-radius: 5px;
    font-size: 45px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 40px 60px;
    
}
.button-area button:active {
    background-color: deepskyblue;
}
.end{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 40px;
	text-align: center;
	font-weight: 400;
    color: #fff;
	font-size: 28px;
}

