@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'El Messiri', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #03afa5;
	text-align: center;
    height: 100vh;    
}
.logo{
	text-align: center;
	margin-top: 40px;
}

.container {
	width: 800px;
	height: 700px;
	text-align: center;
}
.header {
	text-align: center;
	margin-bottom: 50px;
}

.header h2 {
    font-weight: 400;
    color: #fff;
	font-size: 40px;
}
.main-content {
	width: 100%;
	height: 500px;
	padding: 50px 40px;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 25px 31px 0 rgba(0,0,0,0.5);
}

.text-area {
	text-align: center;
	font-size: 50px;
	color: #262626;
	line-height: 1.5;
    
}
.text-area .icon {
    margin-right: 5px;
}
.main-content .writer {
    text-transform: uppercase;
	letter-spacing: 5px;
	color: red;
	text-align: center;
	margin-top: 20px;
	font-size: 25px;
	
}
.main-content .button-area {
	display: grid;
	place-items: center;
	margin-top: 20px;
	padding: 20px 0;
}
.button-area .btn button {
	margin-top: 20px;
    background-color: #262626;
    color: #fff;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 20px 30px;
    
}
.button-area button:active {
    background-color: deepskyblue;
}
.end{
	margin-bottom: 40px;
	font-size: 30px;
}
